@charset "UTF-8";

body, button, dd, div, dl, dt, fieldset, figcaption, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

body, button, input, select, table, textarea {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,AppleSDGothicNeo-Regular,NanumBarunGothic,NanumGothic,"나눔고딕","Segoe UI",Helveica,Arial,Malgun Gothic,Dotum,sans-serif;
    color: #222;
}

a, a:active, a:focus, a:hover {
    text-decoration: none;
}

a {
    color: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
}

input, textarea {
    padding: 0;
    outline: 0;
    border: 0;
    resize: none;
    border-radius: 0;
    -webkit-appearance: none;
    background-color: rgba(0,0,0,0);
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1280px;
}

.help_area {
    margin: 0 auto;
    padding: 60px 0 160px;
    width: 400px;
}

.help_title {
    padding-bottom: 41px;
    text-align: center;
    font-size: 32px;
    letter-spacing: -.48px;
    color: #000;
    border-bottom: 2px solid #000;
}

.help_notice {
    padding: 40px 0 30px;
}

.help_notice .notice_txt {
    font-size: 14px;
    letter-spacing: -.21px;
}

.input_box {
    position: relative;
    padding: 10px 0 14px;
}

.input_title {
    font-size: 13px;
    letter-spacing: -.07px;
    line-height: 18px;
}

.input_item {
    position: relative;
}

.input_txt {
    padding: 8px 0;
    width: 100%;
    font-size: 15px;
    letter-spacing: -.15px;
    line-height: 22px;
    border-bottom: 1px solid #ebebeb;
}


.input_error {
    display: none;
}

.help_btn_box {
    padding-top: 44px;
}

.solid.disabled, .solid:disabled {
    background-color: #ebebeb;
    color: #fff;
    cursor: default;
}

.solid {
    background-color: #222;
    color: #fff;
}

.blind, .u_skip {
    overflow: hidden!important;
    position: absolute!important;
    clip: rect(0,0,0,0)!important;
    width: 1px!important;
    height: 1px!important;
    margin: -1px!important;
}

.full {
    width: 100%;
    font-size: 16px;
    letter-spacing: -.16px;
    font-weight: 700;
    height: 52px;
    line-height: 50px;
    border-radius: 12px;
}

.temporary_notice {
    padding-top: 40px;
    text-align: center;
}

.temporary_notice .notice_txt {
    font-size: 15px;
    letter-spacing: -.15px;
}

.temporary_btn_box {
    padding-top: 22px;
    text-align: center;
}

.solid {
    background-color: #222;
    color: #fff;
}

.large {
    padding: 0 25px;
    height: 52px;
    line-height: 50px;
    border-radius: 14px;
    font-size: 16px;
    letter-spacing: -.16px;
}

.btn {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
}

.temporary_btn_box .btn {
    min-width: 200px;
    height: 52px;
    line-height: 52px;
    border-radius: 12px;
}


